 {% extends "base.html.twig" %}
 {% block javascripts %}
        <script src= "assets/js/login.js"></script>
        {% endblock %}
  {% block body %}
  {# very dummy form for now just to test the authenticate endpoint
  we don't use the symfony form component, will refactor the frontend with some js framework #}
<form id="loginForm" method="post">
email:
<input type="email" name="email" id="name">
password:
<input type="password" name="password" id="password">
<input type="submit" value="Submit">
</form>
{% endblock %}
