{% extends "base.html.twig" %}
{% block body %}
	<h3>Hallo
		{{ user.name }}
	</h3>
	<p>What's next?</p>
	<a href="/user/{{ user.id }}/full">your profile</a>
	<a href="/user/{{ user.id }}/files">your files</a>
	<a href="/users">get to know other users</a>
	<a href="/files">Lern stuff</a>
	<a href="/events">find nice events to join</a>
	<a href="/logout">Logout</a>
{% endblock %}
