<form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm.value)">
    <!-- <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"> -->
    email:
    <input type="email" name="email" id="email" ngModel name="email" required>
    password:
    <input type="password" name="password" id="password" ngModel name="password"required>
    <input type="submit" value="Submit">
</form>